<template name="layout_header">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">{{{i18n 'dapp.app.title'}}}</a>
			</div>

			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="{{ pathFor 'view1' }}">{{{i18n 'dapp.app.buttons.view1'}}}</a></li>-->
				<!--<li><a href="{{ pathFor 'view2' }}">{{{i18n 'dapp.app.buttons.view2'}}}</a></li>-->
				<li><a href="{{ pathFor 'borrowerQueue' }}">{{{i18n 'dapp.app.buttons.borrowerQueue'}}}</a></li>
				<li><a href="{{ pathFor 'blacklist' }}">{{{i18n 'dapp.app.buttons.blacklist'}}}</a></li>
				<li><a href="{{ pathFor 'borrow' }}">{{{i18n 'dapp.app.buttons.borrow'}}}</a></li>
				<li><a href="{{ pathFor 'save' }}">{{{i18n 'dapp.app.buttons.save'}}}</a></li>
				<li><a href="{{ pathFor 'stats' }}">{{{i18n 'dapp.app.buttons.stats'}}}</a></li>
				<li><a href="{{ pathFor 'networkHealth' }}">{{{i18n 'dapp.app.buttons.networkHealth'}}}</a></li>
				<li><a href="{{ pathFor 'myaccount' }}">{{{i18n 'dapp.app.buttons.myaccount'}}}</a></li>
			</ul>
		</div>
	</nav>
</template>
